- user = user_is_owner? ? 'Your' : "#{@user.email}'s"
.d-flex
  %h2.mb-3.mr-auto= "#{user} Galleries"
  - if current_user
    =link_to 'New Gallery', new_user_gallery_path(@user), class: 'btn btn-primary mb-3'
- @user.galleries.each do |gallery|
  .card.mb-3
    .card-header
      =link_to gallery.name, user_gallery_path(@user, gallery)
    .card-body
      = gallery.description
